name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --release

      - name: Package
        shell: pwsh
        run: Compress-Archive -Path target/release/bms-dl.exe -DestinationPath bms-dl-x86_64-pc-windows-msvc.zip

      - uses: actions/upload-artifact@v4
        with:
          name: bms-dl-x86_64-pc-windows-msvc
          path: bms-dl-x86_64-pc-windows-msvc.zip

  release:
    name: Release
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: bms-dl-*.zip
